name: Housekeeping

on:
  pull_request:
    types: [closed]
  delete:

permissions:
  contents: write

jobs:
  housekeeping:
    uses: banua-coder/banua-coder-workflow/.github/workflows/housekeeping.yml@v1
    with:
      protected-branches: main,develop
    secrets:
      token: ${{ secrets.PAT_TOKEN }}
